@import url('http://fonts.cdnfonts.com/css/emberly');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(10,0,93);
  background: linear-gradient(180deg, rgba(10,0,93,1) 0%, rgba(103,2,195,1) 0%, rgb(12, 8, 11) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}

header {
  margin-top: 20px;
}

h1{
  font-size: 7vh;
  font-weight: 100;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  background: #FF0080;
  padding: 20px;
  margin-bottom: 50px;
  font-weight: 300;
}

main{
  height: auto;
  min-height: 600px;
}

.container {
  width: auto;
  padding: 0px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(img/pizza3.png);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

img {
  max-width: 300px;
  width: 100%;
  filter: drop-shadow(5px 5px 5px #FF0080);
  border-radius: 10px;
  -webkit-filter: drop-shadow(3px 10px 10px #FF0080);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

img:hover {
  transform: scale(1.35);
  transition: transform 5s ease;
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 5s ease;
  -ms-transition: transform 5s ease;
  -o-transition: transform 5s ease;
  -webkit-transform: scale(1.35);
  -moz-transform: scale(1.35);
  -ms-transform: scale(1.35);
  -o-transform: scale(1.35);
}

footer {
  max-width: 600px;
  width: 100%px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

p{
  font-family: 'Pacifico', cursive;
  margin-top: 50px;
  letter-spacing: 2px;
  font-size: 21px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  width: 100%;
}

.social-links a{
  color: #FF0080;
  font-size: 40px;
}

.social-links a i:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: transform ease-in-out .5s;
  -webkit-transition: transform ease-in-out .5s;
  -moz-transition: transform ease-in-out .5s;
  -ms-transition: transform ease-in-out .5s;
  -o-transition: transform ease-in-out .5s;
}

.social-links a i:active{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

@media  screen and (max-width:830px) {
  .container{
    flex-direction: column;
    height: auto;
  }
}